# paramiko
# Description: SSH2 protocol library
# License: LGPL
# Upstream url: https://github.com/paramiko/paramiko/
paramiko==1.13.0

# flower
# Description: Celery Flower
# License: BSD
# Upstream url: https://github.com/mher/flower
flower==1.2.0
tornado>=5.1 # not directly required, pinned by Snyk to avoid a vulnerability
